.containerpage
    padding: 1.5rem

    @media (max-width: 480px)
        padding: .8rem

    .titulo
        display: flex
        align-items: center
        justify-content: flex-start
        gap: .5rem

        .icon
            display: flex
            justify-content: center
            align-items: center
            flex-shrink: 0
            width: 30px
            height: 30px
            border-radius: 12px
            background: linear-gradient(135deg, var(--primary-400), var(--primary-700))
            color: white
            font-size: 1rem
            text-decoration: none
            cursor: pointer

        h1
            font-size: 1.25rem
            font-weight: 700
            color: var(--primary-900)
            font-family: 'Poppins', sans-serif
        
    .actions
        display: flex
        align-items: center
        justify-content: flex-start
        gap: 1rem
        margin-top: 1.5rem

        @media (max-width: 480px)
            flex-direction: column
            align-items: stretch

        a
            display: flex
            align-items: center
            justify-content: center
            gap: .5rem
            padding: .5rem 1rem
            border-radius: 8px
            background: linear-gradient(135deg, var(--primary-400), var(--primary-700))
            color: white
            font-size: .875rem
            font-weight: 600
            letter-spacing: 0.5px
            text-decoration: none
            cursor: pointer
            border: none
            text-decoration: none

    .valores
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 1rem
        margin-top: 1.5rem
        background: #fff5
        padding: 1rem
        border-radius: 12px

        @media (max-width: 720px)
            grid-template-columns: 1fr

        h2
            grid-column: span 3
            font-family: 'Poppins', sans-serif
            text-transform: lowercase
            font-size: 1rem
            font-weight: 900
            color: var(--primary-900)

            @media (max-width: 720px)
                grid-column: span 1

        .valor
            display: grid
            grid-template: auto auto / 50px 1fr
            grid-template-areas: "icon numero" "icon descricao"
            align-items: center
            gap: 0rem 1rem
            background: var(--primary-50)
            padding: 1rem
            border-radius: 12px
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)

            >i
                grid-area: icon
                width: 50px
                height: 50px
                font-size: 1.5rem
                display: flex
                justify-content: center
                align-items: center
                border-radius: 8px
                background: linear-gradient(135deg, var(--green-400), var(--green-700))
                color: white
            
            .numero
                grid-area: numero
                font-family: 'Fredoka', sans-serif
                font-size: 2rem
                font-weight: 700
                color: var(--green-700)
                line-height: 1

            .titulo
                grid-area: descricao
                font-size: .875rem
                font-weight: 500
                color: var(--green-900)
                line-height: 1

            &:nth-child(2)
                >i
                    background: linear-gradient(135deg, var(--yellow-400), var(--yellow-700))
                .numero
                    color: var(--yellow-700)
                .titulo
                    color: var(--yellow-900)

            &:nth-child(3)
                >i
                    background: linear-gradient(135deg, var(--red-400), var(--red-700))
                .numero
                    color: var(--red-700)
                .titulo
                    color: var(--red-900)
            