#id_alerta{
    position: fixed;
/*    display: flex;*/
    display: none;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: space-evenly;
    z-index: 1;
}
#id_alerta>div{
    padding: 10px;
    background: #fff;
    border-radius: 3px;
    align-self: center;
    text-align: center;
    flex-basis: 30%;
}
#id_alerta>div>button{
    background: #C00012;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
    border: none;
}
#id_alerta>div>button:hover{
    background: #FB152B;
}
@media(max-width: 548px){
    #id_alerta>div{
        flex-basis: 90%;
    }
}
